html {
  overflow-y: scroll;
}
body {
  position: relative;
  padding-top: 40px;
  background-color: #F5F5DC;
}
.content {
  padding:10px;
}
.center {
  text-align:center;
}
.right {
  text-align:right;	
}
.picture {
  padding:10px;
  text-align:center;	
}
.title-bar {
 background-color: #082542;	
}
.subtitle-bar {
 background-color: #082542;
 color: #FFF;
 margin-bottom: 1px;		
}
.subsubtitle-bar {
  border-top: 1px solid #082542;
  margin-bottom: 10px;		
}
.quote {
  font-style:italic;
  text-align:center;
  padding:10px;	
}
.quote p {
  font-weight:bold;	
  text-align:right;	
}
.content h1 {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -1px;
}
.content p {
  font-size: 14px;
  line-height: 20px;
}
.important p {
  font-size:18px;
  line-height:1.5;
  font-family: Times;	
}
.important h3, .color-box h4, .color-box h3 {
  margin-bottom:10px;	
}
.color-box {
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  color: #303030;
  margin-bottom: 10px;
  padding: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.well {
  border: 1px solid #DBDBDB;
  background-color: #FFFFFF;
  padding: 10px;
}
.footer {
  margin: 20px 0;
  padding: 10px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D1D1BC), to(#F5F5DC));
  background-image: -moz-linear-gradient(19% 75% 90deg,#F5F5DC, #D1D1BC);
  border-top: 1px solid #FFF;
}
.footer a {
  color: #333;	
}
.footer a:hover {
  color:  #777;
  text-decoration: none;		
}
.footer p {
  color: #777;
}
.footer .pull-left {
 margin-right: 10px;
}
.modal {
  left: 40%;
  max-height: 700px;
  width: 900px;
}

@media (max-width: 480px) {
  body {
   padding-top: 70px; 
  }	
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
}
@media (width: 768px) {
  [class*="span"] {
    float: left;
    margin-left: 20px !important;
  }	
}
@media (max-width: 980px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }		
}

@media (min-width: 480px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 980px) {	
  body {
    padding-top: 0;
  }
  .color-box .span6 {
    width: 350px;
  }
}

@media (min-width: 981px) and (max-width: 1200px) {	
  .color-box .span6 {
    width: 458px;
  }
}
	
@media (min-width: 1200px) {	
  .color-box .span6{
    width: 568px;	
  }
}